mixin dropdown()
  .dropdown
    .dropdown__header
      .dropdown__text

      button.dropdown__button
    ul.dropdown__list
      li.dropdown__item
        span.dropdown__item-text
        .dropdown__item-inner
          burron.dropdown-button
          span.dropdown__item-amount
          burron.dropdown-button
      li.dropdown__item
        span.dropdown__item-text
        .dropdown__item-inner
          burron.dropdown-button
          span.dropdown__item-amount
          burron.dropdown-button
      li.dropdown__item
        span.dropdown__item-text
        .dropdown__item-inner
          burron.dropdown-button
          span.dropdown__item-amount
          burron.dropdown-button