.dropdown {
  position: relative;
  max-width: 320px;

  &__header {
    position: relative;
    height: 44px;
    border: 1px solid $dark-shade-25;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;

    &_active,
    &:hover,
    &:focus-within {
      border-color: $dark-shade-50;
    }
  }

  &__label {
    margin: 0 0 5px;
    @extend %label-text;
  }

  &__text {
    width: 100%;
    height: 44px;
    padding: 0 87px 0 15px;
    text-overflow: ellipsis;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
    @extend %body-text;
  }

  &__inner {
    display: none;
    padding: 5px 6px 10px 15px;
    background-color: #fff;
    border-right: 1px solid $dark-shade-50;
    border-bottom: 1px solid $dark-shade-50;
    border-left: 1px solid $dark-shade-50;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;

    &_active {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 10;
      display: block;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @extend %label-text;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr 10px 1fr;
      align-items: center;
      justify-items: center;
      column-gap: 10px;
    }

    &-amount {
      padding: 0 12px;
      vertical-align: middle;
    }

    &-button {
      width: 30px;
      height: 30px;
      border: 0;
      border-radius: 50%;
      cursor: pointer;

      &_minus {
        background: url('/src/assets/img/icons/minus.svg'), transparent;
      }

      &_plus {
        background: url('/src/assets/img/icons/plus.svg'), transparent;
      }

      &:disabled {
        opacity: 0.3;
      }
    }
  }

  &__button {
    position: absolute;
    right: 0;
    width: 44px;
    height: 100%;
    background: none;
    border: 0;
    outline: none;
    cursor: pointer;
  }

  &__button-apply {
    margin-left: auto;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
