.colors-types {
  background-color: #fff;
  margin-bottom: 140px;

  &__header {
    margin-bottom: 62px;
    margin-left: 30px;
    padding-top: 30px;
  }

  &__container {
    display: flex;
    max-width: 1141px;
    margin: 0 auto;
    column-gap: 415px;
  }

  &__column {
    max-width: 445px;
  }

  &__color:not(:last-child) {
    margin-bottom: 20px;
  }

  &__type:not(:last-child) {
    margin-bottom: 51px;
  }
}
