mixin pagination()
  .pagination
    ul.pagination__list
      li(class="pagination__item pagination__item_active")
        a(class="pagination__link pagination__link_active" href="/page1") 1
      li(class="pagination__item") 
        a(class="pagination__link" href="/page2") 2
      li(class="pagination__item") 
        a(class="pagination__link" href="/page3") 3
      li(class="pagination__item") 
        span(class="pagination__link") ...
      li(class="pagination__item") 
        a(class="pagination__link" href="/page15") 15
      li(class="pagination__item")
        a(class="pagination__link pagination__next" href="/page2")
    p.pagination__text 1 – 12 из 100+ вариантов аренды