extends /layouts/main
include /components/search-form/search-form
block variables
  -var title = "Toxin - Главная"
block content
  .landing-page
    .landing-page__search-form
      +search-form()
    p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения