.landing-page {
  display: grid;
  grid-template-areas:
    '. form .'
    '. text .';
  grid-template-rows: repeat(2, minmax(400px, max-content));
  grid-template-columns: auto minmax(280px, 1160px) auto;
  padding: 0 20px;
  background: center / cover no-repeat url('assets/img/backgrounds/landing-page-bg.jpg');

  @media (max-width: $phoneWidth) {
    padding: 0 10px;
  }

  &__search-form {
    grid-area: form;
    margin-top: 70px;
  }

  &__text {
    grid-area: text;
    align-self: end;
    justify-self: right;
    max-width: 290px;
    margin-bottom: 18px;
    text-align: right;
    @extend %body-text;
  }
}
