.content--form-elements {
  background-color: #fff;
}

.form-elements {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1158px;
  margin: 0 auto;
  column-gap: 125px;

  &__wrapper {
    display: flex;
    flex-direction: column;

    &:last-child {
      margin-bottom: 150px;
    }
  }

  &__wrapper:last-child {
    display: flex;
  }

  &__wrapper:nth-child(4) {
    display: flex;
    flex-direction: row;
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    justify-content: space-between;

    .about-room {
      margin-right: 170px;
    }
  }

  &__title {
    margin-bottom: 16px;
    @extend %label-text;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
  }

  &__rate {
    display: flex;
  }

  &__inner {
    margin-bottom: 40px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 30px;

    button:nth-child(1) {
      margin-right: 20px;
    }
  }

  &__review {
    max-width: 730px;
  }

  &__about-room {
    display: grid;
    grid-auto-rows: 1fr;
    row-gap: 40px;
  }

  &__pagination {
    margin-bottom: 50px;
  }
}

.text-field__wrapper {
  margin-bottom: 20px;
}

.toggle__inner {
  margin-bottom: 18px;
}

.button-like__inner {
  margin-right: 10px;
}

.rate__inner {
  margin-right: 20px;
}

.ui-header {
  margin-bottom: 70px;
  margin-left: 30px;
  padding-top: 30px;
}
