mixin rating-button(rating, name)
  - let ratingCount = 0;
  .rating-button
    while ratingCount < 5
      if ratingCount < rating
        input.rating-button__star(type="radio", name=name, checked)
        - ratingCount++;
      else
        input.rating-button__star(type="radio", name=name)
        - ratingCount++;
