.radio {
  display: flex;
  max-width: max-content;
  color: $dark-shade-50;
  font-size: 0.875rem;
  font-family: $mainFont;
  line-height: $mainLineHeight;
  cursor: pointer;

  &__input {
    position: absolute;
    appearance: none;
    clip: rect(0 0 0 0);

    &:checked + .radio__button {
      background: url('/src/assets/img/icons/radio.svg') 50% 50% no-repeat;
      box-shadow: 0 0 0 1px $mainBrandColor;
    }

    &:checked ~ .radio__label {
      color: $dark-shade-75;
    }

    &:focus-visible + .radio__button {
      box-shadow: 0 0 0 1px $dark-shade-25, 0 0 0 2px $mainBrandColor;
    }
  }

  &__button {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px $dark-shade-25;
  }
}
