mixin rate-button(rating, name)
  - let ratingCount = 0;
  .rate
    while ratingCount < 5
      if ratingCount < rating
        input(type="radio" name=name class="rate__star" checked)
        - ratingCount++
      else
        input(type="radio" name=name class="rate__star")
        - ratingCount++