mixin checkbox(title, description)
  label.check
    input(class="check__input" type="checkbox" checked=attributes.checked)
    span.check__box
    if description
      .checkbox__text
        p.checkbox__title
          =title
        p.checkbox__description
          =description
    else
      p.checkbox__text
        =title