.check {
  display: flex;
  flex-direction: column;
  max-width: 225px;
  padding-left: 30px;
  color: $dark-shade-50;
  font-size: 14px;
  font-family: $mainFont;
  line-height: 18px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  &__input {
    position: absolute;
    appearance: none;
    clip: rect(0 0 0 0);

    &:checked + .check__box {
      background: url("/assets/img/input/checkbox/check.svg") 50% 50% no-repeat;
      box-shadow: 0 0 0 1px $purple-color;
    }
    &:focus + .check__box {
      box-shadow: 0 0 0 1px $purple-color, 0 0 0 2px $purple-color;
    }
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: -30px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px $dark-shade-25;
  }

  &box__title {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    font-family: $mainFont;
    font-style: normal;
    line-height: 18px;
  }

  &box__description {
    font-weight: normal;
    font-size: 12px;
    font-family: $mainFont;
    font-style: normal;
    line-height: 14px;
  }
}
