mixin social-link({ link, img })
  a.social-link(href=`${link}`, target="_blank", rel="noopener noreferrer")
    img.social-link__icon(src=require(`/src/assets/img/icons/${img}.svg`), alt=`${img} link`)
