@import 'utils/reset';
@import 'utils/libs';
@import 'utils/vars';
@import 'utils/fonts';

html {
  color: $dark-shade-100;
  font-size: 100%;
  font-family: $mainFont;
  background-color: $background-color;
}

@media (max-width: $phoneWidth) {
  html {
    font-size: 90%;
  }

  .container {
    padding: 0 10px;
  }
}
