include /components/button-like/button-like
mixin review(obj)
  -const {src, name, time, comment, likes, liked} = obj
  .review.js-review
    img(class="review__img", src=src, alt="ava")
    span.review__name
      =name
    span.review__time
      =time
    +button-like(likes, liked)
    p.review__comment
      !=comment

