.review {
  display: flex;
  flex-direction: column;
  max-width: 630px;

  &__item {
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, auto);
    column-gap: 10px;
  }

  &__item:not(:last-child) {
    margin-bottom: 22px;
  }

  &__img {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
    clip-path: circle();
  }

  &__name {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    color: $dark-shade-75;
    font-weight: 700;
    font-size: 14px;
    font-family: $mainFont;
    line-height: 24px;
  }

  &__time {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    @extend %body-text;
  }

  &__comment {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    @extend %body-text;
  }

  .button-like {
    justify-self: center;
  }
}
