include /components/button-like/button-like
mixin review(obj)
  - const { src, name, time, comment, likes, withLike } = obj;
  .review.js-review
    img.review__img(src=src, alt="ava")
    .review__author
      span.review__name
        = name
      time.review__time
        = time
    .review__button
      +button-like(likes, withLike)
    p.review__comment
      != comment
