include /components/button-like/button-like
mixin review(obj)
  -var {src, name, time, comment, likes, liked} = obj
  .review.js-review
    img(class="review__img", src=src, alt="ava")
    span.review__name
      =name
    span.review__time
      =time
    if liked
      +button-like(likes)(class="button-like--active")
    else
      +button-like(likes)
    p.review__comment
      =comment

