mixin chart()
  .chart__wrapper
    svg(class="chart" width="122" height="122" viewBox="0 0 34 34")
      circle(class="chart__unit" r="15.9" cx="50%" cy="50%")
      circle(class="chart__unit" r="15.9" cx="50%" cy="50%")
      circle(class="chart__unit" r="15.9" cx="50%" cy="50%")
      circle(class="chart__unit" r="15.9" cx="50%" cy="50%")
      g(class="chart__text")
          text(class="chart__number" x="50%" y="50%")
          text(class="chart__label" x="50%" y="50%") голосов
    ul.chart__legend
      li.chart__legend-item Великолепно
      li.chart__legend-item Хорошо
      li.chart__legend-item Удовлетворительно
      li.chart__legend-item Разочарован
