.chart {
  margin-right: 28px;

  @media screen and (max-width: $smPhoneWidth) {
    margin-right: 10px;
  }

  &__wrapper {
    display: flex;
  }

  &__unit {
    fill: none;
    stroke-width: 1;
  }

  &__unit:nth-child(1) {
    stroke: #6fcf97;
  }

  &__unit:nth-child(2) {
    stroke: #ffe39c;
  }

  &__unit:nth-child(3) {
    stroke: #bc9cff;
  }

  &__unit:nth-child(4) {
    stroke: #626981;
  }

  &__text {
    font-weight: $boldFontWeight;
    font-family: $mainFont;
    fill: #bc9cff;
  }

  &__number {
    text-anchor: middle;
    font-size: 0.438rem;
    line-height: 1.2;
  }

  &__label {
    text-anchor: middle;
    font-size: 0.188rem;
    line-height: 15px;
    text-transform: uppercase;
    transform: translateY(5px);
  }

  &__legend {
    align-self: flex-end;
    margin: 0;
    padding: 0;
    line-height: $mainLineHeight;
    list-style: none;
    @extend %body-text;
  }

  &__legend-item {
    position: relative;
    padding-left: 15px;
  }

  &__legend-item + &__legend-item {
    margin-top: 7px;
  }

  &__legend-item::before {
    position: absolute;
    bottom: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(50%);
    content: '';
  }

  &__legend-item:nth-child(1)::before {
    background: linear-gradient(180deg, #ffe39c 0%, #ffba9c 100%);
  }

  &__legend-item:nth-child(2)::before {
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
  }

  &__legend-item:nth-child(3)::before {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }

  &__legend-item:nth-child(4)::before {
    background: linear-gradient(180deg, #919191 0%, #3d4975 100%);
  }
}
