.masked-field {
  max-width: 320px;

  &__input {
    width: 100%;
    max-width: 320px;
    height: 44px;
    padding-left: 15px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    @extend %body-text;
    &:hover,
    &:focus {
      color: $dark-shade-75;
      border-color: $dark-shade-50;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__label {
    @extend %label-text;
  }

  &__state {
    color: $dark-shade-50;
    font-size: 12px;
    font-family: $mainFont;
    text-transform: uppercase;
  }
}
