mixin masked-text(label, placeholder)
  .masked-field
    .masked-field__title
      span.masked-field__label= label
    input(class="masked-field__input" type="text" placeholder=placeholder autofocus=attributes.autofocus)