.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 174px 20px;
  background: center 54% / 107% no-repeat url('../../assets/img/backgrounds/registration-bg.jpg');

  @media (max-width: $phoneWidth) {
    padding: 0 10px;
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}
