.sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 174px 20px;
  background: center 54% / cover no-repeat url('../../assets/img/backgrounds/registration-bg.jpg');

  @media (max-width: $phoneWidth) {
    padding: 100px 10px;
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
}
