.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: $mainBrandColor;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background: none;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
  @extend %label-text;

  &:hover {
    color: $dark-shade-50;
  }

  &_theme_blue {
    padding: 0 20px;
    color: #fff;
    background: $mainGradient;
    border-radius: 22px;

    &:hover {
      color: #fff;
      opacity: 0.5;
    }
  }

  &_theme_white {
    padding: 0 18px;
    color: $mainBrandColor;
    text-align: center;
    background-image: linear-gradient(white, white),
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-radius: 22px;

    &:hover {
      color: $mainBrandColor;
      opacity: 0.5;
    }
  }

  &_theme_arrow {
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
    color: #fff;
    background: url('/src/assets/img/icons/arrow-white.svg') 95% 50% no-repeat,
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;

    &:hover {
      color: #fff;
      opacity: 0.5;
    }
  }

  &_size_m {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &_size_s {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
