mixin button(options)
  -var { color, tag, text, href, size } = options
  -
    var themes = {
      'white': 'button button_theme_white',
      'blue': 'button button_theme_blue',
      'transparent': 'button',
      'arrow': 'button button_theme_arrow'
    }
  -
    var sizes = {
      'm': 'button_size_m',
      's': 'button_size_s'
    }
  if  tag === 'button'
    button(class=`${themes[color]} ${sizes[size]}`)= text
  if tag === 'a'
    a(class=`${themes[color]} ${sizes[size]}`, href=href)= text
