.button {
  display: inline-block;
  padding: 0;
  color: $purple-color;
  @extend %label-text;
  text-align: center;
  background: none;
  border: 0;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    color: $dark-shade-50;
  }

  &--blue {
    padding: 0 20px;
    color: #fff;
    line-height: 44px;
    background: $button-gradient;
    border-radius: 22px;

    &:hover {
      color: #fff;
      opacity: 0.5;
    }
  }

  &--white {
    position: relative;
    padding: 0 20px;
    color: $purple-color;
    line-height: 44px;
    text-align: center;
    background-image: linear-gradient(white, white),
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border: 2px solid transparent;
    border-radius: 22px;

    &:hover {
      color: $purple-color;
      opacity: 0.5;
    }
  }

  &--arrow {
    width: 100%;
    max-width: 320px;
    color: #fff;
    line-height: 44px;
    background: url('./arrow.svg') 95% 50% no-repeat,
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
    border-radius: 22px;

    &:hover {
      color: #fff;
      opacity: 0.5;
    }
  }
}
