.search-room {
  display: grid;
  grid-auto-rows: auto;
  grid-template-areas: '. aside content .';
  grid-template-columns: auto 266px minmax(320px, 835px) auto;
  justify-content: space-between;
  width: 100%;
  max-width: 1275px;
  margin: 30px auto 71px;
  column-gap: 20px;

  @media screen and (max-width: $tableWidth) {
    grid-template-areas:
      '. aside .'
      '. content .';
    grid-template-columns: auto min-content auto;
    column-gap: 0;
    place-content: center;
  }

  &__filter {
    grid-area: aside;
    width: 100%;

    @media screen and (max-width: $tableWidth) {
      margin: 0 auto 20px;
    }
  }

  &__date-filter {
    margin-bottom: 20px;
  }

  &__guest {
    margin-bottom: 30px;
  }

  &__range-slider {
    margin-bottom: 26px;
  }

  &__checkbox-title {
    display: inline-block;
    margin-bottom: 18px;
    @extend %label-text;
  }

  &__checkbox {
    max-width: 223px;
    margin-bottom: 30px;

    &:nth-child(5) {
      max-width: 260px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
  }

  &__checkbox + &__checkbox {
    margin-bottom: 25px;
  }

  &__comfort {
    margin-bottom: 25px;
  }

  &__title {
    margin: 0 0 20px;
    @extend %sub-section-title;
  }

  &__search-results {
    grid-area: content;
    width: 100%;
  }

  &__room-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    width: 100%;
    margin-bottom: 44px;
    column-gap: 12px;
    row-gap: 20px;

    @media screen and (max-width: $phoneWidth) {
      justify-items: center;
    }
  }

  &__pagination {
    width: min-content;
    margin: 0 auto;
  }
}
