extends /layouts/main
include /components/dropdown/dropdown
include /components/date-dropdown/date-dropdown
include /components/range-slider/range-slider
include /components/checkbox/checkbox
include /components/expandable-checkbox-list/expandable-checkbox-list
include /components/room-card/room-card
include /components/pagination/pagination
block variables
  -var title= "Подбор номеров"
  -
    var cards = [
        {luxury: true, number: 888, price: "9 900₽", star: 5, reviews: 145, images: ['room-1.jpg', 'room-2.jpg', 'room-1.jpg', 'room-2.jpg']},
        {luxury: false, number: 840, price: "9 900₽", star: 4, reviews: 65, images: ['room-2.jpg', 'room-3.jpg', 'room-2.jpg', 'room-3.jpg']},
        {luxury: false, number: 980, price: "8 500₽", star: 3, reviews: 35, images: ['room-3.jpg', 'room-2.jpg', 'room-3.jpg', 'room-2.jpg']},
        {luxury: false, number: 856, price: "7 300₽", star: 5, reviews: 19, images: ['room-4.jpg', 'room-3.jpg', 'room-4.jpg', 'room-3.jpg']},
        {luxury: false, number: 740, price: "6 000₽", star: 4, reviews: 44, images: ['room-5.jpg', 'room-4.jpg', 'room-5.jpg', 'room-4.jpg']},
        {luxury: false, number: 982, price: "5 800₽", star: 3, reviews: 56, images: ['room-6.jpg', 'room-5.jpg', 'room-6.jpg', 'room-5.jpg']},
        {luxury: false, number: 678, price: "5 500₽", star: 5, reviews: 45, images: ['room-7.jpg', 'room-6.jpg', 'room-7.jpg', 'room-6.jpg']},
        {luxury: false, number: 450, price: "5 300₽", star: 4, reviews: 39, images: ['room-8.jpg', 'room-7.jpg', 'room-8.jpg', 'room-7.jpg']},
        {luxury: false, number: 350, price: "5 000₽", star: 3, reviews: 77, images: ['room-9.jpg', 'room-8.jpg', 'room-9.jpg', 'room-8.jpg']},
        {luxury: false, number: 666, price: "5 000₽", star: 5, reviews: 25, images: ['room-10.jpg', 'room-9.jpg', 'room-10.jpg', 'room-9.jpg']},
        {luxury: false, number: 444, price: "5 000₽", star: 3, reviews: 15, images: ['room-11.jpg', 'room-10.jpg', 'room-11.jpg', 'room-10.jpg']},
        {luxury: false, number: 352, price: "5 000₽", star: 3, reviews: 55, images: ['room-12.jpg', 'room-11.jpg', 'room-12.jpg', 'room-11.jpg']}
      ]
  -
    var checkboxList = [
      { label: 'Завтрак' }, { label: 'Письменный стол', checked: true },
      { label: 'Стул для кормления', checked: true }, { label: 'Кроватка', checked: true },
      { label: 'Телевизор' }, { label: 'Шампунь' }
    ]
block content
  .search-room
    .search-room__filter
      .search-room__date-filter
        +date-dropdown('даты пребывания в отеле')
      .search-room__guest
        +dropdown({
          label: 'гости',
          items: ['взрослые', 'дети', 'младенцы'],
          container: 'js-guest',
          buttons: true,
          holder: 'Сколько гостей'})
      .search-room__range-slider
        +range-slider('диапазон цены', 'Стоимость за сутки пребывания в номере')
      .search-room__checkbox
        span.search-room__checkbox-title правила дома
        +checkbox('Можно курить')
        +checkbox('Можно с питомцами')(checked)
        +checkbox('Можно пригласить гостей (до 10 человек)')(checked)
      .search-room__checkbox
        span.search-room__checkbox-title доступность
        +checkbox('Широкий коридор', 'Ширина коридоров в номере не менее 91 см.')
        +checkbox('Помощник для инвалидов', 'На 1 этаже вас встретит специалист  и проводит до номера.')
      .search-room__comfort
        +dropdown({
          label: 'удобства номера',
          items: ['спальни', 'кровати', 'ванные комнаты'],
          container: 'js-comfort',
          holder: 'Удобства'
        })
      .search-room_expandable-checkbox
        +expandable-checkbox-list('дополнительные удобства', checkboxList)
    .search-room__search-results
      h1.search-room__title Номера, которые мы для вас подобрали
      .search-room__room-cards
        each card in cards
          +room-card(card)
      .search-room__pagination
        +pagination()