.button-like {
  position: relative;
  width: 40px;
  height: 20px;
  padding-left: 19px;
  color: $dark-shade-25;
  font-size: 0.625rem;
  font-family: $mainFont;
  line-height: 1.2;
  background: none;
  border: 1px solid $dark-shade-25;
  border-radius: 10px;
  cursor: pointer;

  &::after {
    @extend %material-icons;
    position: absolute;
    left: 5px;
    font-size: 0.625rem;
    content: 'favorite_border';
  }

  &_active {
    color: $mainBrandColor;
    border-color: $mainBrandColor;

    &::after {
      position: absolute;
      content: 'favorite';
    }
  }
}
