.date-dropdown {
  max-width: 150px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__button {
    position: absolute;
    right: 0;
    width: 44px;
    height: 100%;
    background: none;
    cursor: pointer;
  }
}
