mixin date-dropdown(label1, label2)
  .date-dropdown__wrapper
    .date-dropdown
      p.dropdown__label= label1
        .dropdown__header
          input(class='dropdown__text' readonly placeholder='asdasd')
          button(class="date-dropdown__button" type="button")
            img(src="/assets/img/dropdown/expand-more.svg", alt="")
    .date-dropdown
      p.dropdown__label= label2
        .dropdown__header
          input(class='dropdown__text' readonly placeholder='asdasd')
          button(class="date-dropdown__button" type="button")
            img(src="/assets/img/dropdown/expand-more.svg", alt="")