mixin date-dropdown(label1, label2)
  .date-dropdown__wrapper.js-date-dropdown
    .date-dropdown
      .dropdown__label= label1
      .dropdown__header
        input(class='date-dropdown__input js-date-input' readonly placeholder='ДД.ММ.ГГГГ')
        button(class="date-dropdown__button js-expand-button" type="button")
          img(src=require("/src/assets/img/icons/expand-more.svg"), alt="expand")
    if label2
      .date-dropdown
        .dropdown__label= label2
        .dropdown__header
          input(class='date-dropdown__input js-date-input' readonly placeholder='ДД.ММ.ГГГГ')
          button(class="date-dropdown__button js-expand-button" type="button")
            img(src=require("/src/assets/img/icons/expand-more.svg"), alt="expand")