.date-dropdown {
  width: 100%;
  max-width: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }

  &__button {
    position: absolute;
    right: 0;
    width: 44px;
    height: 100%;
    background: none;
    cursor: pointer;
  }

  &__input {
    width: 100%;
    height: 44px;
    padding: 0 40px 0 15px;
    border: 1px solid $dark-shade-25;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: default;
    @extend %body-text;

    &:hover,
    &:focus {
      color: $dark-shade-75;
      border-color: $dark-shade-50;
    }
  }
}

.calendar {
  position: absolute;
  top: 70px;
  z-index: 20;
  display: none;
  max-width: 320px;
  padding: 20px;
  font-size: 0.75rem;
  font-family: $mainFont;
  background-color: #fff;
  border: 1px solid $dark-shade-25;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);

  &_open {
    display: block;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__date {
    font-weight: $boldFontWeight;
    font-size: $titleFontSize;
    line-height: 1.2;
  }

  &__week {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-day {
      width: 14.2%;
      height: 40px;
      color: $purple-color;
      font-weight: $boldFontWeight;
      line-height: 40px;
      text-align: center;
    }
  }

  &__days-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  &__day {
    position: relative;
    display: inline-block;
    width: 14.2%;
    height: 40px;
    color: $dark-shade-25;
    font-size: 0.75rem;
    font-family: $mainFont;
    line-height: 40px;
    text-align: center;
    cursor: pointer;

    &_active {
      color: $dark-shade-50;
    }

    &_today {
      color: #fff;
      background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
      border-radius: 50%;
    }

    &_selected {
      color: #fff;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      border-radius: 50%;
    }

    &_range::before {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      opacity: 0.25;
      content: '';
    }

    &_range-first::before {
      right: 0;
      width: 50%;
    }

    &_range-last::before {
      left: 0;
      width: 50%;
    }
  }

  &__button {
    width: 24px;
    height: 24px;
    cursor: pointer;

    &_prev {
      background: url('/src/assets/img/icons/arrow-purple.svg') no-repeat center;
      transform: scale(-1, 1);
    }

    &_next {
      background: url('/src/assets/img/icons/arrow-purple.svg') no-repeat center;
    }
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
  }
}
