mixin type-example({ tag, text })
  -
    const classes = {
      'H1': 'type-example__text_size_xl',
      'H2': 'type-example__text_size_l',
      'H3': 'type-example__text_size_m',
      'Body': 'type-example__text_size_s'
    }

  .type-example(class=`${classes[tag]}`)
    .type-example__tag= tag
    .type-example__text!= text
