mixin type-example({ tag, text })
  -
    var classes = {
      "H1": "type-example__text_xl",
      "H2": "type-example__text_l",
      "H3": "type-example__text_m",
      "Body": "type-example__text_s"
    }

  .type-example(class=`${classes[tag]}`)
    .type-example__tag= tag
    .type-example__text= text