.type-example {
  display: flex;
  gap: 30px;
  align-items: flex-start;

  &__tag {
    min-width: 37px;
    color: $dark-shade-25;
    font-weight: $mainFontWeight;
    text-align: right;
  }

  &__text_size {
    &_xl {
      @extend %sub-section-title;
    }

    &_l {
      @extend %item-title;
    }

    &_m {
      @extend %label-text;
    }

    &_s {
      @extend %body-text;
    }
  }
}
