.expandable-checkbox-list {
  position: relative;
  max-width: 266px;
}

.checkbox-label {
  @extend %label-text;
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
  margin-bottom: 5px;
  cursor: pointer;
}

.checkbox-button__expand {
  width: 44px;
  height: 100%;
  padding-bottom: 5px;
  background: none;
  cursor: pointer;
}

.checkbox-list {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transform: translateY(-20%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  &--active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

.checkbox-button {
  transition: transform 0.3s;

  &--active {
    transform: rotate(180deg);
  }
}

.checkbox-item:not(:last-child) {
  margin-bottom: 12px;
}
