.expandable-checkbox__list {
  position: relative;
  max-width: 266px;
}

.expandable-checkbox__label {
  @extend %label-text;
}

.expandable-checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
}

.expandable-checkbox__button-expand {
  width: 44px;
  height: 100%;
  padding-bottom: 5px;
  background: none;
  cursor: pointer;
}

.expandable-checkbox__items {
  position: absolute;
  padding: 10px 0;
  right: 0;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  transform: translateY(-20%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;

  &_active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
}

.expandable-checkbox__button-expand {
  transition: transform 0.3s;

  &_active {
    transform: rotate(180deg);
  }
}

.expandable-checkbox__item:not(:last-child) {
  margin-bottom: 14px;
}
