include /components/about-room-item/about-room-item

mixin about-room(items)
  .about-room
    each item in items
      - const { icon, title, text } = item;
      .about-room__item
        +about-room-item(icon, title, text)
