extends /pug/layouts/main
include /components/reservation-form/reservation-form
include /components/about-room/about-room
include /components/bullet-list/bullet-list
include /components/review/review
include /components/chart/chart
block variables
  -var title= "Информация о номере"
  -
    var reviews = [
      {name: "Рулон Обоев", src: require("/src/assets/img/review/4el.jpg"), time: "5 дней назад", likes: "12", liked: true, comment: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей."},
      {name: "Патрисия Стёклышкова", src: require("/src/assets/img/review/tetka.jpg"), time: "Неделю назад", likes: "2", comment: "Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент"}
    ]
block content
  .room-details
    .room-details__pictures
      .room-details__picture
        img(src=require("/src/assets/img/room-picture/image-1.jpg"), alt="room picture")
      .room-details__picture
        img(src=require("/src/assets/img/room-picture/image-2.jpg"), alt="room picture")
      .room-details__picture
        img(src=require("/src/assets/img/room-picture/image-3.jpg"), alt="room picture")
    .container
      .room-details__info
        .room-details__about-room
          .room-details__about-room-title
            h3.room-details__title Сведения о номере
          .room-details__about-room-container
            +about-room(require("/src/assets/img/icons/insert_emoticon.svg"), "Комфорт", "Шумопоглощающие стены")
            +about-room(require("/src/assets/img/icons/location_city.svg"), "Удобство", "Окно в каждой из спален")
            +about-room(require("/src/assets/img/icons/whatshot.svg"), "Уют", "Номер оснащён камином")
        .room-details__rating
          .room-details__rating-title
            h3.room-details__title Впечатления от номера
          +chart()
        .room-details__reviews
          .room-details__reveiw-title
            h3.room-details__title Отзывы посетителей номера
            span.room-details__review-count 2 отзыва
          each review in reviews
            +review(review)
        .room-details__bullet-list
          .room-details__bullet-list-title
            h3.room-details__title Правила
          +bullet-list(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
        .room-details__cancel
          .room-details__cancel-title
            h3.room-details__title Отмена
          p.room-details__cancel-text
            |Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-details__reservation
          +reservation-form('luxury')
          