mixin range-slider(label, text)
  .range-slider__wrapper
    .range-slider__header
      span.range-slider__label= label
      span.range-slider__value 
    .range-slider
    if text
      span.range-slider__text= text
