mixin range-slider({ label, text, container })
  .range-slider(class=container)
    .range-slider__header
      span.range-slider__label= label
      span.range-slider__value.js-range-slider__value
    .range-slider__container.js-range-slider__container
    if text
      span.range-slider__text= text
