.range-slider {
  margin-bottom: 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__value,
  &__text {
    color: $dark-shade-50;
    font-weight: $mainFontWeight;
    font-size: 0.75rem;
    font-family: $mainFont;
    font-style: normal;
    line-height: $mainLineHeight;
  }

  &__label {
    @extend %label-text;
  }

  &__wrapper {
    max-width: 266px;
  }
}

.noUi-connect {
  background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
}

.noUi-horizontal {
  height: 6px;

  .noUi-handle {
    top: -6px;
    right: -6px;
    width: 15px;
    height: 15px;
    background: linear-gradient(180deg, #6fcf97 0%, #66d2ea 100%);
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: none;
    cursor: pointer;

    &::before,
    &::after {
      content: none;
    }
  }
}
