.content_form-elements {
  margin-bottom: 50px;
  background-color: #fff;
}

.form-elements {
  display: flex;
  flex-direction: column;
  row-gap: 150px;
  max-width: 1160px;
  margin: 0 auto;
  column-gap: 70px;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__column {
    width: 100%;
    max-width: 320px;
    &_s {
      max-width: 266px;
    }

    &_l {
      max-width: 720px;
    }
  }

  &__block + &__block {
    margin-top: 20px;
  }

  &__block + &__block_margin-large {
    margin-top: 40px;
  }

  &__block_size_s {
    max-width: 266px;
  }

  &__header {
    margin-bottom: 70px;
    margin-left: 30px;
    padding-top: 30px;
  }
  &__title {
    margin-bottom: 16px;
    @extend %label-text;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
  }

  &__radio {
    display: flex;
  }

  &__radio-button + &__radio-button {
    margin-left: 20px;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__rate {
    display: flex;
    column-gap: 20px;
  }

  &__button-like {
    display: flex;
    column-gap: 10px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 30px;

    button:nth-child(1) {
      margin-right: 20px;
    }
  }
}
