extends /layouts/uikit
include /components/input-text/input-text
include /components/subscription-field/subscription-field
include /components/checkbox/checkbox
include /components/radio/radio
include /components/toggle/toggle
include /components/button-like/button-like
include /components/pagination/pagination
include /components/rating-button/rating-button
include /components/bullet-list/bullet-list
include /components/about-room/about-room
include /components/review/review
include /components/dropdown/dropdown
include /components/range-slider/range-slider
include /components/expandable-checkbox-list/expandable-checkbox-list
include /components/date-dropdown/date-dropdown
include /components/button/button
include /components/logo/logo

block variables
  -
    const title = 'Form Elements'

    const review = {
      name: 'Мурад Сарафанов',
      src: require('/src/assets/img/review/4el.jpg'),
      time: '5 дней назад',
      likes: '12',
      liked: true,
      comment: `Великолепный матрас на&nbsp;кровати в&nbsp;основной спальне!
        А&nbsp;пуфик вообще потрясающий. И&nbsp;стены, действительно, шумоподавляющие.
        Выкрикивал комплименты повару&nbsp;&mdash; никто не&nbsp;жаловался из&nbsp;соседей.`
    }

    const checkboxList = [
      { title: 'Завтрак', name: 'breakfast' },
      { title: 'Письменный стол', name: 'desk', checked: true },
      { title: 'Стул для кормления', name: 'food-chair', checked: true },
      { title: 'Кроватка', name: 'bed', checked: true },
      { title: 'Телевизор', name: 'tv' },
      { title: 'Шампунь', name: 'shampoo' }
    ]

    const aboutRoomItems = [
      { icon: 'insert_emoticon', title: 'Комфорт', text: 'Шумопоглощающие стены' },
      { icon: 'location_city', title: 'Удобство', text: 'Окно в каждой из спален' },
    ]

    const bulletList = ['Нельзя с питомцами',
      'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, а выезд до 12:00']

    const checkboxes = [
      { title: 'Можно курить', name: 'smoke' },
      { title: 'Можно с питомцами', name: 'pets', checked: true },
      { title: 'Можно пригласить гостей (до&nbsp;10&nbsp;человек)', name: 'guests', checked: true }
    ]

    const guestDropdown = {
      label: 'dropdown',
      items: ['взрослые', 'дети', 'младенцы'],
      type: 'guests',
      buttons: true,
      placeholder: 'Сколько гостей'
    }

    const comfortDropdown = {
      label: 'удобства номера',
      items: ['спальни', 'кровати', 'ванные комнаты'],
      type: 'rooms',
      placeholder: 'Удобства',
      name: 'room-comfort'
    }

    const richCheckboxes = [
      {
        title: 'Широкий коридор',
        description: 'Ширина коридоров в&nbsp;номере не&nbsp;менее 91&nbsp;см.',
        name: 'wide hall'
      },
      {
        title: 'Помощник для инвалидов',
        description: 'На&nbsp;1&nbsp;этаже вас встретит специалист и&nbsp;проводит до&nbsp;номера.',
        name: 'helper'
      }
    ]
block content
  .form-elements
    header.form-elements__header
      +logo
    .form-elements__wrapper
      .form-elements__row
        .form-elements__column
          .form-elements__block
            +input-text({ label: 'text field', placeholder: 'Email', type: 'email' })
          .form-elements__block
            +input-text({ label: 'text-field', placeholder: 'This is pretty awesome' })(
              autofocus
            )
          .form-elements__block
            +dropdown(guestDropdown)
          .form-elements__block
            +input-text({ label: 'masked text field', placeholder: 'ДД.ММ.ГГГГ', mask: true })
          .form-elements__block.form-elements__block_margin_l
            +date-dropdown({ label1: 'date Dropdown', label2: 'date Dropdown' })
          .form-elements__block.form-elements__block_margin_l.form-elements__block_size_s
            +date-dropdown({ label1: 'filter date dropdown' })
          .form-elements__block.form-elements__block_margin_l
            +subscription-field({ label: 'subscription text field' })
        .form-elements__column
          .form-elements__block.form-elements__block_margin_l
            h3.form-elements__title Checkbox Buttons
            .form-elements__checkbox
              each checkbox in checkboxes
                +checkbox(checkbox)
          .form-elements__block.form-elements__block_margin_xl
            h3.form-elements__title Radio buttons
            .form-elements__radio
              .form-elements__radio-button
                +radio({ label: 'Мужчина', name: 'gender', checked: true })
              .form-elements__radio-button
                +radio({ label: 'Женщина', name: 'gender' })
          .form-elements__block.form-elements__block_margin_l
            h3.form-elements__title Toggle
            .form-elements__toggle
              +toggle('Получать спецпредложения')(checked)
              +toggle('Получать спецпредложения')
          .form-elements__block.form-elements__block_margin_xl
            h3.form-elements__title like button
            .form-elements__button-like
              +button-like(2)
              +button-like(12, 'liked')
          .form-elements__block.form-elements__block_margin_l
            h3.form-elements__title Rate button
            .form-elements__rate
              +rating-button(4, 'rating1')
              +rating-button(5, 'rating2')
        .form-elements__column
          .form-elements__block.form-elements__block_margin_l
            +range-slider({ label: 'Range Slider' })
          .form-elements__block.form-elements__block_margin_xl
            h3.form-elements__title Buttons
            .form-elements__buttons
              +button({ color: 'blue', tag: 'button', text: 'click me', size: 'm' })
              +button({ color: 'blue', tag: 'button', text: 'click me', size: 'm' })
            .form-elements__buttons
              +button({ color: 'white', tag: 'button', text: 'click me', size: 'm' })
              +button({ color: 'white', tag: 'button', text: 'click me', size: 'm' })
            .form-elements__buttons
              +button({ color: 'transparent', tag: 'button', text: 'click me', size: 'xs' })
              +button({ color: 'transparent', tag: 'button', text: 'click me', size: 'xs' })
            +button({ color: 'arrow', tag: 'button', text: 'перейти к оплате', size: 'm' })
          .form-elements__block.form-elements__block_margin_l
            h3.form-elements__title pagination
            +pagination
      .form-elements__row.form-elements__row_margin_l
        .form-elements__column
          .form-elements__block.form-elements__block_size_s
            +dropdown(comfortDropdown)
          .form-elements__block.form-elements__block_size_s
            +dropdown({ ...comfortDropdown, expanded: true })
        .form-elements__column
          .form-elements__block
            +dropdown({ ...guestDropdown, expanded: true, type: 'zeroGuests' })
        .form-elements__column
          .form-elements__block
            +dropdown({ ...guestDropdown, expanded: true })
      .form-elements__row.form-elements__row_margin_xl
        .form-elements__column
          .form-elements__block.form-elements__block_size_s
            +expandable-checkbox-list({ label: 'expandable checkbox list', list: checkboxList, })
          .form-elements__block.form-elements__block_margin_m.form-elements__block_size_s
            +expandable-checkbox-list({ label: 'expandable checkbox list', list: checkboxList, expanded: true })
        .form-elements__column
          .form-elements__block.form-elements__block_size_s
            h3.form-elements__title rich Checkbox Buttons
            .form-elements__checkbox
              each checkbox in richCheckboxes
                +checkbox(checkbox)
        .form-elements__column
          .form-elements__block
            h3.form-elements__title bullet list
            +bullet-list(bulletList)
      .form-elements__row
        .form-elements__column
          .form-elements__block
            +about-room(aboutRoomItems)
        .form-elements__column.form-elements__column_size_l
          .form-elements__block
            .form-elements__review
              +review(review)
