.form-elements {
  margin-bottom: 50px;
  background-color: #fff;

  &__header {
    margin-bottom: 61px;
    margin-left: 30px;
    padding-top: 30px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__row {
    display: flex;
    align-items: baseline;
    margin-bottom: 100px;

    &_margin_l {
      margin-bottom: 166px;
    }

    &_margin_xl {
      margin-bottom: 225px;
    }
  }

  &__column {
    width: 100%;
    max-width: 320px;

    &_size_l {
      max-width: 720px;
    }

    &_align_center {
      align-self: center;
    }

    &:nth-child(2) {
      margin-left: 126px;
    }

    &:nth-child(3) {
      margin-left: 73px;
    }
  }

  &__block + &__block {
    margin-top: 21px;
  }

  &__block + &__block_margin_m {
    margin-top: 38px;
  }

  &__block + &__block_margin_l {
    margin-top: 41px;
  }

  &__block + &__block_margin_xl {
    margin-top: 45px;
  }

  &__block + &__block_margin_xxl {
    margin-top: 47px;
  }

  &__block_size_s {
    max-width: 266px;
  }

  &__title {
    margin: 0 0 16px;
    @extend %label-text;

    &_margin_s {
      margin: 0 0 14px;
    }
  }

  &__checkbox {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
  }

  &__radio {
    display: flex;
  }

  &__radio-button + &__radio-button {
    margin-left: 20px;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
    row-gap: 17px;
  }

  &__button-like {
    display: flex;
    column-gap: 10px;
  }

  &__rate {
    display: flex;
    column-gap: 20px;
  }

  &__review {
    margin-top: 7px;
  }

  &__buttons {
    display: flex;
    margin-bottom: 31px;

    button:nth-child(1) {
      margin-right: 20px;
    }
  }
}
