.reservation-form {
  max-width: 380px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  &__inner {
    padding: 40px 30px 30px;

    @media (max-width: $phoneWidth) {
      padding: 30px 20px 20px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__room-number-wrapper {
    @extend %sub-section-title;
  }

  &__room-number-sign,
  &__luxury-text {
    font-weight: $boldFontWeight;
    font-size: $mainFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: $mainLineHeight;
  }

  &__luxury-text {
    color: $mainBrandColor;
    font-size: $labelFontSize;
    text-transform: uppercase;
  }

  &__date-dropdown {
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 20px;
  }

  &__price-text {
    color: $dark-shade-50;
    font-weight: $mainFontWeight;
    font-size: $labelFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: 1.5;
  }

  &__price-wrapper {
    align-self: end;
    color: $dark-shade-50;
    font-size: $mainFontSize;
    text-transform: none;
    @extend %label-text;
  }

  &__prices {
    margin-bottom: 35px;
    color: $dark-shade-75;
    font-weight: $mainFontWeight;
    font-size: $mainFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: 1.2;

    &-item {
      display: flex;
      gap: 40px;
      justify-content: space-between;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      &-text {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 239px;
        word-wrap: break-word;

        @media (max-width: $phoneWidth) {
          max-width: 195px;
        }

        @media (max-width: $smPhoneWidth) {
          max-width: 160px;
        }
      }

      &-info {
        position: relative;

        &:hover {
          .reservation-form__tooltip {
            visibility: visible;
          }
        }
      }
    }
  }

  &__info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: $dark-shade-25;
    font-weight: $boldFontWeight;
    font-size: $labelFontSize;
    border: 1px solid $dark-shade-25;
    border-radius: 50%;
    user-select: none;
  }

  &__tooltip {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    width: auto;
    padding: 5px;
    color: $dark-shade-75;
    background-color: $dark-shade-25;
    border-radius: 6px;
    visibility: hidden;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @extend %item-title;

    &-dashed {
      position: relative;
      flex-grow: 1;

      &::before {
        position: absolute;
        bottom: 5px;
        left: 5px;
        width: calc(100% - 10px);
        border-bottom: 1px dashed $dark-shade-25;
        content: '';
      }
    }
  }
}
