include /components/date-dropdown/date-dropdown
include /components/dropdown/dropdown
include /components/button/button
mixin reservation-form(luxury)
  form.reservation-form.js-reservation-form
    .reservation-form__inner
      .reservation-form__header
        .reservation-form__room-number-wrapper
          span.reservation-form__room-number-sign №
          span.reservation-form__room-number &nbsp;888
          if luxury
            span.reservation-form__luxury-text &nbsp;люкс
        .reservation-form__price-wrapper
          span.reservation-form__price 9&nbsp;990₽
          span.reservation-form__price-text &nbsp;в сутки
      .reservation-form__date-dropdown
        +date-dropdown({ label1: 'прибытие', label2: 'выезд', container: 'js-date-dropdown' })
      .reservation-form__dropdown
        +dropdown({label: 'гости', items:['взрослые', 'дети', 'младенцы'], container:'js-guest', holder: 'Сколько гостей', buttons: true })
      .reservation-form__prices
        .reservation-form__prices-item
          span.reservation-form__prices-item-text 9&nbsp;990₽ х 4 суток
          span.reservation-form__prices-item-price 39&nbsp;960₽
        .reservation-form__prices-item
          .reservation-form__prices-item-text
            |Сбор за услуги: скидка 2&nbsp;179₽
            .reservation-form__prices-item-info
              img(class="reservation-form__info-icon" src=require("/src/assets/img/icons/info.svg"), alt="icon")
              span.reservation-form__tooltip подсказка
          span.reservation-form__prices-item-price 0₽
        .reservation-form__prices-item
          .reservation-form__prices-item-text
            |Сбор за дополнительные услуги
            .reservation-form__prices-item-info
              img(class="reservation-form__info-icon" src=require("/src/assets/img/icons/info.svg"), alt="icon")
              span.reservation-form__tooltip подсказка
          span.reservation-form__prices-item-price 300₽
      .reservation-form__total
        span.reservation-form__total-text Итого
        .reservation-form__total-dashed
        span.reservation-form__total-price 38&nbsp;081₽
      +button({
        "color": "arrow",
        "tag": "button",
        "text": "забронировать",
        "size": "m",
        "submit": true
      })