.reservation-form {
  max-width: 380px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);

  &__inner {
    padding: 40px 30px 30px;

    @media (max-width: $phoneWidth) {
      padding: 30px 20px 20px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__room-number-wrapper {
    @extend %sub-section-title;
  }

  &__room-number-sign {
    font-weight: $boldFontWeight;
    font-size: $mainFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: $mainLineHeight;
  }

  &__luxury-text {
    color: $mainBrandColor;
    font-weight: $boldFontWeight;
    font-size: $labelFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: $mainLineHeight;
    text-transform: uppercase;
  }

  &__price-text {
    color: $dark-shade-50;
    font-weight: $mainFontWeight;
    font-size: $labelFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: 1.5;
  }

  &__price-wrapper {
    align-self: end;
    color: $dark-shade-50;
    font-size: $mainFontSize;
    text-transform: none;
    @extend %label-text;
  }

  &__prices {
    margin-bottom: 35px;
  }

  &__prices-item {
    display: flex;
    justify-content: space-between;
    color: $dark-shade-75;
    font-weight: $mainFontWeight;
    font-size: $mainFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: 1.2;
  }

  &__prices-item:not(:last-child) {
    margin-bottom: 15px;
  }

  &__prices-item-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: 239px;
    word-wrap: break-word;

    @media (max-width: $phoneWidth) {
      max-width: 190px;
    }
  }

  &__prices-item-info {
    position: relative;

    &:hover {
      .reservation-form__tooltip {
        visibility: visible;
      }
    }
  }

  &__info-icon {
    display: block;
  }

  &__tooltip {
    position: absolute;
    left: 0;
    z-index: 5;
    width: auto;
    padding: 5px;
    color: $dark-shade-75;
    background-color: $dark-shade-25;
    border-radius: 6px;
    visibility: hidden;
  }

  &__total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    @extend %item-title;
  }

  &__total-dashed {
    position: relative;
    flex-grow: 1;

    &::before {
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: calc(100% - 10px);
      border-bottom: 1px dashed $dark-shade-25;
      content: '';
    }
  }

  &__date-dropdown {
    width: 100%;
    max-width: 320px;
    margin-bottom: 20px;
  }

  &__dropdown {
    margin-bottom: 20px;
  }
}
