extends /layouts/main
include /components/registration-form/registration-form
block variables
  -const title = "Регистрация"
block content
  .registration
    .registration__registration-form
      +registration-form()
