.registration {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1920px;
  padding: 19px;
  background: center 54% / cover no-repeat url('assets/img/backgrounds/registration-bg.jpg');

  &__wrapper {
    width: 100%;
    margin: 0 auto;
  }

  @media (max-width: $phoneWidth) {
    padding: 10px;
  }

  &__form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 0 5px;
  }
}
