extends /layouts/main
include /components/registration-form/registration-form
block variables
  - const title = "Регистрация";
block content
  .registration__wrapper
    .registration
      .registration__form
        +registration-form
