mixin logo({ text = false } = {})
  .logo
    a.logo__link(href="/")
      if (text)
        img.logo__img(src=require("/src/assets/img/icons/logo.svg"), alt="logo")
      else
        img.logo__img(src=require("/src/assets/img/icons/ui-logo.svg"), alt="logo")
