mixin logo(text)
  .logo
    a(class="logo__link" href='/')
      if (text)
        img(class="logo__img" src=require("/src/assets/img/icons/logo.svg"), alt="logo")
      else
        img(class="logo__img" src=require("/src/assets/img/icons/ui-logo.svg"), alt="logo")