mixin about-room-item(src, title, text)
  .about-room-item
    img(class="about-room-item__img" src=src, alt="icon")
    span.about-room-item__title
      =title
    span.about-room-item__text
      =text