doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Страницы
  body.mock-page
    nav.pages-links
      .pages-links__wrapper
        h3.page-links__title Страницы:
        ul.url-list__pages
          -
            const mainPages = {
              "Главная": "/landing-page.html" ,
              "Регистрация": "/registration.html" ,
              "Вход": "/sign-in.html" ,
              "Подбор номеров": "/search-room.html" ,
              "Информация о номере": "/room-details.html"
            }
          each link, title in mainPages
            li.url-list__item
              a.url-list__link(href=link)= title
      .pages-links__wrapper
        h3.page-links__title UI:
        ul.url-list__ui
          -
            const uiPages = {
              "Colors and types": "/colors-types.html" ,
              "Headers and Footers": "/headers-footers.html" ,
              "Cards": "/cards.html" ,
              "Form elements": "/form-elements.html"
            }
          each link, title in uiPages
            li.url-list__item
              a.url-list__link(href=link)= title
