doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Страницы
  body.mock-page
    nav.pages-links
      .pages-links__wrapper
        h3.page-links__title Страницы:
        ul.url-list__pages
          li.url-list__item
            a.url-list__link(href="/landing-page.html") Главная
          li.url-list__item
            a.url-list__link(href="/registration.html") Регистрация
          li.url-list__item
            a.url-list__link(href="/sign-in.html") Вход
          li.url-list__item
            a.url-list__link(href="/search-room.html") Подбор номеров
          li.url-list__item
            a.url-list__link(href="/room-details.html") Информация о номере
      .pages-links__wrapper
        h3.page-links__title UI:
        ul.url-list__ui
          li.url-list__item
            a.url-list__link(href="/colors-types.html") Colors and types
          li.url-list__item
            a.url-list__link(href="/headers-footers.html") Headers and Footers
          li.url-list__item
            a.url-list__link(href="/cards.html") Cards
          li.url-list__item
            a.url-list__link(href="/form-elements.html") Form elements
