extends /pug/layouts/uikit
include /components/header/header
include /components/footer/footer
include /components/logo/logo
block variables
  -var title = "headers & footers"
block content
  .headers-footers
    header.headers-footers__header
      +logo()
    .headers-footers__wrapper
      +header()
    .headers-footers__wrapper
      +header("login")
    .headers-footers__wrapper
      +footer()