extends ../layouts/uikit
block variables
  -var title= "Colors & Types"
block content
  .container
    .main
      .colors__wrapper
        .colors__item
          .colors.dark-shade-100
          .color__name
            p Dark Shade 100%
            p #1F2041
        .colors__item
          .colors.dark-shade-75
          .color__name
            p Dark Shade 75%
            p #1F2041
        .colors__item
          .colors.dark-shade-50
          .color__name
            p Dark Shade 50%
            p #1F2041
        .colors__item
          .colors.dark-shade-25
          .color__name
            p Dark Shade 25%
            p #1F2041
        .colors__item
          .colors.dark-shade-5
          .color__name
            p Dark Shade 5%
            p #1F2041
        .colors__item
          .colors.purple
          .color__name
            p Purple
            p #BC9CFF
        .colors__item
          .colors.green
          .color__name
            p Green
            p #6FCF97
      .types
        .type__wrapper.type__wrapper--size-xl
          p.tag
            |H1
          p.font.sub-section-title
            |This one is the sub-section or widget title 
        .type__wrapper.type__wrapper--size-l
          p.tag
            |H2
          p.font.item-title
            |Next one is the item title inside widgets 
        .type__wrapper.type__wrapper--size-s
          p.tag
            |H3
          p.font.label-text
            |This is a label or CTA text
        .type__wrapper.type__wrapper--size-m
          p.tag
            |Body
          p(class="font body-text")
            |This is the body text which is used for most 
            |of the design, like paragraphs, lists, etc.
