extends ../layouts/uikit
include ../../components/input/input-text/input-text
include ../../components/input/checkbox/checkbox
include ../../components/input/radio/radio
block variables
  -var title= "Form Flements"
block content
  .form-elements
    .form-elements__wrapper
      .text-field__wrapper
        +input-text('text field', 'Email')
      .text-field__wrapper
        +input-text('text-field', 'This is pretty awesome')(autofocus)
    .form-elements__wrapper
      .form-elements__inner
        h3.form-elements__title Checkbox Buttons
        .form-elements__checkbox
          +checkbox('Можно курить')(class='checkbox__inner')
          +checkbox('Можно с питомцами')(class='checkbox__inner')(checked)
          +checkbox('Можно пригласить гостей (до 10 человек)')(checked)
      .form-elements__inner
        h3.form-elements__title Radio buttons
        .form-elements__radio
          +radio('Мужчина')(class="radio__inner" name='gender' checked)
          +radio('Женщина')(name='gender')