extends /pug/layouts/uikit
include /components/header/header
include /components/footer/footer
block content
  .wrapper
    .page__wrapper
      +header()
    .page__wrapper
      +header("login")
    .page__wrapper
      +footer()
