extends /pug/layouts/main
include /components/search-form/search-form
block variables
  -var title = "Landing page"
block content
  .landing-page
    .container
      .landing-page__wrapper
        .landing-page__search-form
          +search-form()
        p.landing-page__text Лучшие номера для вашей работы, отдыха и просто вдохновения