.subscription-field {
  display: flex;

  &__input {
    width: 223px;
    height: 44px;
    padding-left: 15px;
    border-top: 1px solid $dark-shade-25;
    border-bottom: 1px solid $dark-shade-25;
    border-left: 1px solid $dark-shade-25;
    border-radius: 4px;
    @extend %body-text;
    &:hover,
    &:focus {
      color: $dark-shade-75;
      border-color: $dark-shade-50;
    }
  }

  &__button {
    width: 44px;
    height: 44px;
    background: none;
    border-top: 1px solid $dark-shade-25;
    border-right: 1px solid $dark-shade-25;
    border-bottom: 1px solid $dark-shade-25;
    cursor: pointer;
  }
}