.cards {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    column-gap: 40px;
  }

  &__item {
    display: inline-block;
    margin-bottom: 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }
}

.ui-header {
  margin-bottom: 70px;
  margin-left: 30px;
  padding-top: 30px;
}
