include /components/date-dropdown/date-dropdown
include /components/dropdown/dropdown
mixin search-form() 
  form.search-form
    .search-form__inner
      h2.search-form__title Найдём номера под ваши пожелания
      .search-form__date-dropdown
        +date-dropdown('прибытие', 'выезд')
      .search-form__dropdown
        +dropdown({label: 'гости', items: ['взрослые', 'дети', 'младенцы'], type: 'js-guest', holder: 'Cколько гостей'})
      button.button.button--arrow подобрать номер
