include /components/date-dropdown/date-dropdown
include /components/dropdown/dropdown
include /components/button/button
mixin search-form() 
  form.search-form.js-search-form
    .search-form__inner
      h2.search-form__title Найдём номера под ваши пожелания
      .search-form__date-dropdown
        +date-dropdown('прибытие', 'выезд')
      .search-form__dropdown
        +dropdown({label: 'гости', items: ['взрослые', 'дети', 'младенцы'], type: 'js-guest', holder: 'Сколько гостей'})
      +button({"color": "arrow", "tag": "a", "href": "/search-room.html", "text": "подобрать номер", 'size': 'm'})