.form-elements {
  display: flex;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 16px;
    @extend %label-text;
  }

  &__checkbox {
    display: flex;
    flex-direction: column;
  }

  &__toggle {
    display: flex;
    flex-direction: column;
  }

  &__rate {
    display: flex;
  }

  &__inner {
    margin-bottom: 40px;
  }
}

.text-field__wrapper {
  margin-bottom: 20px;
}

.checkbox__inner {
  margin-bottom: 10px;
}

.radio__inner {
  margin-right: 20px;
}

.toggle__inner {
  margin-bottom: 18px;
}

.button-like__inner {
  margin-right: 10px;
}

.rate__inner {
  margin-right: 20px;
}
