include /components/input/input-text/input-text
include /components/input/radio/radio
include /components/input/masked-text/masked-text
include /components/input/toggle/toggle
mixin registration-form()
  form.registration-form
    .registration-form__inner
      h3.registration-form__title Регистрация аккаунта
      .registration-form__text-fields
        .text-fields__inner
          +input-text('', 'Имя')
        .text-fields__inner
          +input-text('', 'Фамилия')
      .registration-form__radio
        +radio('Мужчина')(name='name')
        +radio('Женщина')(name='name')
      .registration-form__masked-field
        +masked-text('дата рождения', 'ДД.ММ.ГГГГ')
      .registration-form__text-fields
        .text-fields__inner
          +input-text('данные для входа в сервис', 'Email')
        .text-fields__inner
          +input-text('', 'Пароль')
      .registration-form__toggle
        +toggle('Получать спецпредложения')
      .registration-form__button
        button.button.button--arrow перейти к оплате
      .registration-form__login
        span.registration-form__text Уже есть аккаунт на Toxin
        a(class="button button--white" href="/sign-in.html") войти