include /components/input-text/input-text
include /components/radio/radio
include /components/toggle/toggle
include /components/button/button
mixin registration-form()
  form.registration-form.js-registration-form
    .registration-form__inner
      h3.registration-form__title Регистрация аккаунта
      .registration-form__text-fields
        .text-fields__inner
          +input-text({ placeholder: 'Имя' })
        .text-fields__inner
          +input-text({ placeholder: 'Фамилия' })
      .registration-form__radio
        .registration-form__radio-button
          +radio('Мужчина')(name='name', checked)
        .registration-form__radio-button
          +radio('Женщина')(name='name')
      .registration-form__masked-field
        +input-text({ label: 'дата рождения', placeholder: 'ДД.ММ.ГГГГ', mask: 'mask' })
      .registration-form__text-fields
        .text-fields__inner
          +input-text({ label: 'данные для входа в сервис', placeholder: 'Email', type: 'email' })
        .text-fields__inner
          +input-text({ placeholder: 'Пароль' })
      .registration-form__toggle
        +toggle('Получать спецпредложения')
      .registration-form__button
        +button({"tag": "button", "color": "arrow", "text": "перейти к оплате", "size": "m"})
      .registration-form__login
        span.registration-form__text Уже есть аккаунт на Toxin
        +button({"color": "white", "tag": "a", "href": "/sign-in.html", "text": "войти", "size": "m"})