include /components/input-text/input-text
include /components/radio/radio
include /components/toggle/toggle
include /components/button/button

mixin registration-form
  form.registration-form.js-registration-form
    .registration-form__inner
      h3.registration-form__title Регистрация аккаунта
      .registration-form__text-fields
        .registration-form__text-field
          +input-text({ placeholder: 'Имя', name: 'name' })
        .registration-form__text-field
          +input-text({ placeholder: 'Фамилия', name: 'lastname' })
      .registration-form__radio
        .registration-form__radio-button
          +radio('Мужчина')(name="gender", checked)
        .registration-form__radio-button
          +radio('Женщина')(name="gender")
      .registration-form__masked-field
        +input-text({ label: 'дата рождения', placeholder: 'ДД.ММ.ГГГГ', mask: true, type: 'text', name: 'birthday' })
      .registration-form__text-fields
        .registration-form__text-field
          +input-text({ label: 'данные для входа в сервис', placeholder: 'Email', type: 'email', name: 'email' })
        .registration-form__text-field
          +input-text({ placeholder: 'Пароль', type: 'password', name: 'password' })
      .registration-form__toggle
        +toggle('Получать спецпредложения', 'specials')
      .registration-form__button
        +button({ tag: 'button', color: 'arrow', text: 'зарегистрироваться', size: 'm', submit: true })
      .registration-form__login
        span.registration-form__text Уже есть аккаунт на Toxin
        +button({ color: 'white', tag: 'a', href: '/sign-in.html', text: 'войти', size: 'm' })
