extends /pug/layouts/uikit
include /components/header/header
include /components/footer/footer
include /components/logo/logo
block variables
  -var title = "headers&footers"
block content
  .content_headers-footers
    header.ui-header
      +logo()
    .page__wrapper
      +header()
    .page__wrapper
      +header("login")
    .page__wrapper
      +footer()
