.cards {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 40px;
  }

  &__item {
    display: inline-block;
    margin-bottom: 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;
  }
}
