include /components/logo/logo
include /components/button/button
include /components/header-menu/header-menu
mixin header(login)
  -
    const menuItems = [
      { label: 'О нас', link: '/mock-address' },
      { label: 'Услуги', submenu: [{label: 'Услуга 1' }, { label: 'Услуга 2', link: '/mock-address'}] },
      { label: 'Вакансии', link: '/mock-address' },
      { label: 'Новости', link: '/mock-address' },
      { label: 'Соглашения', submenu: [{ label: 'Соглашение 1', link: '/mock-address'}, { label: 'Соглашение 2', link: '/mock-address'}] }
    ]
  header.header.js-header
    .header__container
      .header__logo
        +logo({ withText: true })
      nav.header__navigation
        ul.header__navigation-list.js-header__navigation-list
          li.header__navigation-item
            .header__menu
              +header-menu(menuItems)
          li.header__navigation-item
            if login
              a.header__user-name(href="/mock-address")= login
            else
              .header__buttons
                +button({color: 'white', tag: 'a', href: '/sign-in.html', text: 'войти', size: 's'})
                +button({color: 'blue', tag: 'a', href: '/registration.html', text: 'зарегистрироваться', size: 's'})
        button.header__burger.js-header__burger
          span.header__burger-line
