.header {
  position: relative;
  background: #fff;
  box-shadow: 0 10px 20px rgba(31, 32, 65, 0.05);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 13px 20px;
  }

  &__navigation-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media screen and (max-width: $smDesktopWidth) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 100;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      min-height: 100vh;
      background: #fff;
      visibility: hidden;
      transition: all 1s ease-in-out;
      clip-path: circle(100px at 90% -20%);

      &_active {
        visibility: visible;
        clip-path: circle(1500px at 90% -20%);
        pointer-events: all;
      }
    }
  }

  &__navigation-item {
    position: relative;

    &:not(:last-child) {
      margin-right: 21px;

      @media screen and (max-width: $smDesktopWidth) {
        margin: 0;
      }
    }
  }

  &__user-name {
    position: relative;
    margin-left: 20px;
    color: $dark-shade-50;
    line-height: $mainLineHeight;
    text-decoration: none;
    @extend %body-text;

    &::before {
      position: absolute;
      bottom: 50%;
      left: -20px;
      width: 1px;
      height: 30px;
      background-color: #e9e9ec;
      transform: translateY(50%);
      content: '';
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $smDesktopWidth) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    a:first-child {
      margin-right: 20px;

      @media screen and (max-width: $smDesktopWidth) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }
  }

  &__burger {
    position: relative;
    z-index: 100;
    display: none;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
    cursor: pointer;

    @media screen and (max-width: $smDesktopWidth) {
      display: block;
    }

    &-line,
    &-line::before,
    &-line::after {
      position: absolute;
      height: 3px;
      background-color: $dark-shade-75;
      transition: all 0.3s;
    }

    &-line {
      top: 50%;
      left: 50%;
      width: 24px;
      transform: translate(-50%, -50%);
    }

    &-line::before {
      top: 6px;
      width: 12px;
      content: '';
    }

    &-line::after {
      top: -6px;
      left: 0;
      width: 12px;
      content: '';
    }

    &_active {
      .header__burger-line {
        left: 4px;
        transform: rotate(-45deg);
      }

      .header__burger-line::before {
        transform: rotate(90deg) translateY(6px);
      }

      .header__burger-line::after {
        transform: rotate(90deg) translateY(-6px);
      }
    }
  }
}
