.checkbox {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 30px;
  line-height: 1.2;
  cursor: pointer;
  @extend %body-text;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &__input {
    position: absolute;
    appearance: none;
    clip: rect(0 0 0 0);

    &:checked + .checkbox__box {
      background: url('/src/assets/img/icons/check.svg') 50% 50% no-repeat;
      box-shadow: 0 0 0 1px $mainBrandColor;
    }

    &:focus-visible + .checkbox__box {
      box-shadow: 0 0 0 1px $mainBrandColor, 0 0 0 2px $mainBrandColor;
    }
  }

  &__box {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: -30px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px $dark-shade-25;
  }

  &__title {
    margin-bottom: 5px;
    font-weight: $boldFontWeight;
    font-size: $mainFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: $mainLineHeight;
  }

  &__description {
    font-weight: normal;
    font-size: $labelFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: 1.1;
  }
}

.checkbox__text_rich {
  display: flex;
  flex-direction: column;
}
