.checkbox {
  display: flex;
  align-items: flex-start;
  max-width: max-content;
  line-height: 1.2;
  cursor: pointer;
  @extend %body-text;

  &__input {
    position: absolute;
    appearance: none;
    clip: rect(0 0 0 0);

    &:checked + .checkbox__box {
      background: url('/src/assets/img/icons/check.svg') 50% 50% no-repeat;
      box-shadow: 0 0 0 1px $mainBrandColor;
    }

    &:focus-visible + .checkbox__box {
      box-shadow: 0 0 0 1px $mainBrandColor, 0 0 0 2px $mainBrandColor;
    }
  }

  &__box {
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0 0 0 1px $dark-shade-25;
  }

  &__text_rich {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: $boldFontWeight;
    font-size: $mainFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: $mainLineHeight;
  }

  &__description {
    font-weight: normal;
    font-size: $labelFontSize;
    font-family: $mainFont;
    font-style: normal;
    line-height: 1.1;
  }
}
