mixin checkbox(title, description)
  label.check
    input(class="check__input" type="checkbox" checked=attributes.checked)
    span.check__box
    if description
      .checkbox__text.checkbox__rich-text
        span.checkbox__title
          =title
        span.checkbox__description
          =description
    else
      span.checkbox__text
        =title