mixin checkbox({ title, description, name, checked })
  label.checkbox
    input.checkbox__input(type="checkbox", checked=checked, name=name)
    span.checkbox__box
    if description
      span.checkbox__text.checkbox__text_rich
        span.checkbox__title
          != title
        span.checkbox__description
          != description
    else
      span.checkbox__text
        != title
