mixin checkbox(title, description)
  label.checkbox
    input(class="checkbox__input" type="checkbox" checked=attributes.checked)
    span.checkbox__box
    if description
      span.checkbox__text.checkbox__text_rich
        span.checkbox__title
          !=title
        span.checkbox__description
          !=description
    else
      span.checkbox__text
        !=title