.bullet {
  max-width: 261px;

  &__items {
    position: relative;
    padding-left: 20px;
    @extend %body-text;

    &::before {
      position: absolute;
      top: 6px;
      left: 0;
      width: 10px;
      height: 10px;
      background-color: $dark-shade-25;
      border-radius: 50%;
      content: '';
    }

    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
