include /components/logo/logo
include /components/subscription-field/subscription-field
include /components/social-link/social-link
mixin footer
  -
    const navigationLinks = ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
    const aboutUsLinks = ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
    const supportLinks = ['Соглашения', 'Сообщества', 'Связь с нами']
    const socialLinks = [
      { link: 'https://twitter.com/toxin', img: 'twitter' },
      { link: 'https://facebook.com/toxin', img: 'facebook' },
      { link: 'https://instagram.com/toxin', img: 'instagram' }
    ]
  footer.footer
    .footer__container
      .footer__wrapper
        .footer__column.footer__column_size_m
          .footer__logo
            +logo({ text: true })
          p.footer__description
            | Бронирование номеров в лучшем отеле 2019 года
            | по версии ассоциации «Отельные взгляды»
        .footer__column.footer__column_size_s
          .footer__navigation
            h3.footer__title навигация
            ul.footer__list
              each link in navigationLinks
                li.footer__list-item
                  a.footer__link(href="/mock-address")= link
        .footer__column.footer__column_size_s
          h3.footer__title о нас
          ul.footer__list
            each link in aboutUsLinks
              li.footer__list-item
                a.footer__link(href="/mock-address")= link
        .footer__column.footer__column_size_s
          h3.footer__title Служба поддержки
          ul.footer__list
            each link in supportLinks
              li.footer__list-item
                a.footer__link(href="/mock-address")= link
        .footer__column.footer__column_size_m
          h3.footer__title Подписка
          p.footer__subscribe Получайте специальные предложения и новости сервиса
          +subscription-field
    .footer__copyright
      .footer__container
        .footer__copyright-wrapper
          p.footer__copyright-text
            | Copyright © 2018 Toxin отель. Все права защищены.
          .footer__social
            each link in socialLinks
              +social-link(link)
