.footer {
  margin-top: auto;
  background-color: #fff;
  border-top: 1px solid #b3b3bc;

  @media (max-width: $tableWidth) {
    padding: 120px 0;
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 100px 0;
    column-gap: 40px;

    @media (max-width: $tableWidth) {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 0;
      column-gap: 0;
    }
  }

  &__column_size {
    &_s {
      grid-column: span 2;

      @media (max-width: $tableWidth) {
        display: none;
      }
    }

    &_m {
      grid-column: span 3;

      &:not(:first-child) {
        @media (max-width: $tableWidth) {
          display: none;
        }
      }
    }
  }

  &__logo {
    margin-bottom: 12px;

    @media (max-width: $tableWidth) {
      margin-bottom: 0;
    }
  }

  &__description {
    margin: 0;
    line-height: $largeLineHeight;
    @extend %body-text;

    @media (max-width: $tableWidth) {
      display: none;
    }
  }

  &__title {
    margin: 3px 0 20px 0;
    @extend %label-text;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &-item:not(:last-child) {
      margin-bottom: 19px;
    }
  }

  &__link {
    color: $dark-shade-50;
    line-height: 1.2;
    text-decoration: none;
    @extend %body-text;
  }

  &__subscribe {
    margin-bottom: 20px;
    @extend %body-text;
  }

  &__copyright {
    padding: 24px 0;
    border-top: 1px solid #dedee3;

    @media (max-width: $tableWidth) {
      padding: 20px 0;
      border: 0;
    }

    &-text {
      margin: 0;
      @extend %body-text;
    }

    &-wrapper {
      display: flex;
      justify-content: space-between;

      @media (max-width: $tableWidth) {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-items: center;
        text-align: center;
      }
    }
  }

  &__social {
    display: flex;
    gap: 20px;
  }
}
