.footer {
  margin-top: auto;
  background-color: #fff;
  border-top: 1px solid #b3b3bc;

  &__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 100px 0;
    column-gap: 40px;
  }

  &__copyright {
    padding: 24px 0;
    border-top: 1px solid #dedee3;

    &-text {
      @extend %body-text;
    }
  }

  &__copyright-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__link {
    color: $dark-shade-50;
    line-height: 1.2;
    @extend %body-text;
  }

  &__title {
    margin-bottom: 21px;
    @extend %label-text;
  }

  &__list-item:not(:last-child) {
    margin-bottom: 19px;
  }

  &__subscribe {
    margin-bottom: 20px;
    @extend %body-text;
  }

  &__description {
    line-height: $largeLineHeight;
    @extend %body-text;
  }

  &__social {
    display: flex;
    gap: 20px;
  }

  &__column2 {
    grid-column: span 2;
  }

  &__column3 {
    grid-column: span 3;
  }

  &__column5 {
    grid-column: span 3;
  }
}

@media (max-width: $tableWidth) {
  .footer {
    padding: 120px 0px;

    &__logo {
      margin-bottom: 0;
    }

    &__wrapper {
      grid-template-columns: 1fr;
      justify-items: center;
      padding: 0;
      column-gap: 0;
    }

    &__description {
      display: none;
    }

    &__column2 {
      display: none;
    }

    &__column3:not(:first-child) {
      display: none;
    }

    &__copyright {
      padding: 20px 0;
      border: 0;

      &-wrapper {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-items: center;
        text-align: center;
      }
    }
  }
}
