mixin input-text(label, placeholder)
  .text-field
    if label
      .text-field__title
        span.text-field__label= label
    input(class="text-field__input" type="text" placeholder=placeholder autofocus=attributes.autofocus)