.search-room {
  display: flex;
  width: 100%;
  margin-top: 30px;

  @media screen and (max-width: $tableWidth) {
    flex-direction: column;
  }
  &__filter {
    width: 100%;
    max-width: 266px;
    margin-right: 60px;

    @media screen and (max-width: $tableWidth) {
      margin: 0 auto 20px;
    }
  }

  &__date-filter {
    margin-bottom: 20px;
  }

  &__guest {
    margin-bottom: 30px;
  }

  &__range-slider {
    margin-bottom: 25px;
  }

  &__checkbox-title {
    display: inline-block;
    margin-bottom: 18px;
    @extend %label-text;
  }

  &__checkbox {
    max-width: 223px;
    margin-bottom: 27px;

    &:nth-child(5) {
      max-width: 260px;
    }
  }

  &__comfort {
    margin-bottom: 15px;
  }

  &__title {
    margin-bottom: 20px;
    @extend %sub-section-title;
  }

  &__search-results {
    width: 100%;
  }

  &__room-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    width: 100%;
    margin-bottom: 40px;
    column-gap: 12px;
    row-gap: 22px;

    @media screen and (max-width: $phoneWidth) {
      justify-items: center;
    }
  }

  &__pagination {
    width: min-content;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
