.subscription-field {
  &__wrapper {
    position: relative;
    display: flex;
    max-width: 267px;
    border: 1px solid $dark-shade-25;
    border-radius: 4px;
    &:hover,
    &:focus-within {
      color: $dark-shade-75;
      border-color: $dark-shade-50;
      outline: none;
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__label {
    @extend %label-text;
  }

  &__input {
    width: 100%;
    height: 44px;
    padding: 0 44px 0 15px;
    background: none;
    border: 0;
    border-radius: 4px;
    outline: none;
    @extend %body-text;
  }

  &__button {
    @extend %material-icons;
    position: absolute;
    right: 0;
    width: 44px;
    height: 44px;
    color: $mainBrandColor;
    background: none;
    border: 0;
    cursor: pointer;
  }
}
