mixin subscription-field({ label = false, placeholder = "Email" } = {})
  form.subscription-field.js-subscription-field
    if label
      .subscription-field__title
        span.subscription-field__label= label
    .subscription-field__wrapper
      input(class="subscription-field__input" type="email"
        placeholder=placeholder autofocus=attributes.autofocus)
      button(class="subscription-field__button" type="submit") arrow_forward