doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 404
  body.mock-page
    ul.url-list
      li.url-list__item
        a(class="url-list__link" href="/landing-page.html") Главная
      li.url-list__item
        a(class="url-list__link" href="/registration.html") Регистрация
      li.url-list__item
        a(class="url-list__link" href="/sign-in.html") Вход
      li.url-list__item
        a(class="url-list__link" href="/search-room.html") Подбор номеров
      li.url-list__item
        a(class="url-list__link" href="/room-details.html") Информация о номере