mixin header-menu(items)
  ul.header-menu
    each item in items
      li.header-menu__item
        if item.submenu
          .header-menu__link.header-menu__link_expand.js-header-menu__link_expand= item.label
          ul.header-menu__submenu
            each element in item.submenu
              li
                a(class='header-menu__link' href= element.link)= element.label
        else
          a(class='header-menu__link' href= item.link)= item.label