mixin header-menu(items)
  ul.header-menu.js-header-menu
    each item in items
      li.header-menu__item
        if item.submenu
          .header-menu__link.header-menu__link_expand.js-header-menu__link_expand(
            data-text=item.label
          )= item.label
          ul.header-menu__submenu
            each element in item.submenu
              li.header-menu__submenu-item
                a.header-menu__link(href=element.link)= element.label
        else
          a.header-menu__link(href=item.link, data-text=item.label)= item.label
