.toggle {
  display: block;
  padding-left: 50px;
  color: $dark-shade-75;
  font-size: $mainFontSize;
  font-family: $mainFont;
  cursor: pointer;

  &__button {
    appearance: none;

    &:checked + .toggle__slider {
      box-shadow: 0 0 0 1px $purple-color;
    }

    &:focus-visible + .toggle__slider {
      box-shadow: 0 0 0 1px $purple-color, 0 0 0 2px $purple-color;
    }

    &:checked + .toggle__slider::before {
      background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
      transform: translateX(20px);
    }
  }

  &__slider {
    position: absolute;
    width: 40px;
    height: 20px;
    margin-left: -50px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px $dark-shade-25;

    &::before {
      position: absolute;
      bottom: 4px;
      left: 4px;
      width: 12px;
      height: 12px;
      background: $dark-shade-25;
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
      content: '';
    }
  }
}
