include /components/rate-button/rate-button
mixin room-card(obj)
  -var {luxury, price, number, star, rewiews, images} = obj
  .room-card
    .room-card__slider
      .room-card__slider-slides
        each img in images
          img(class="room-card__slider-slide" src=`/assets/img/room-card/img/${img}`, alt="room picture")
      .room-card__slider-dots
        .room-card__slider-dot
        .room-card__slider-dot
        .room-card__slider-dot
        .room-card__slider-dot
      .room-card__slider-buttons
        button.room-card__slider-button.room-card__slider-button--left
          img(src="/assets/img/room-card/img/arrow.svg", alt="button-left")
        button.room-card__slider-button.room-card__slider-button--right
          img(src="/assets/img/room-card/img/arrow.svg", alt="button-right")
    .room-card__inner
      .room-card__info
        a(class="room-card__room-number" href="/room-details.html")
          span.room-card__room-number-sign № 
          span= number
          if luxury
            span.room-card__luxury-text люкс
        .room-card__price-per-day
          span=  price
          span.room-card__price-per-day-text  в сутки
      .room-card__rating
        +rate-button(star)
        a(class="room-card__reviews" href="/room-details.html")
          span= rewiews
          span.room-card__rewiews-text  Отзывов