.cards {
  background-color: #f4f4f6;

  &__header {
    margin-left: 30px;
    padding-top: 30px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 380px 380px 320px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    column-gap: 40px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    margin-top: 69px;

    //&:nth-child(1n) {
    //  margin-top: 69px;
    //}
    //
    //&:nth-child(2n) {
    //  margin-top: 71px;
    //}
    //
    //&:nth-child(3n) {
    //  margin-top: 82px;
    //}
  }

  &__item {
    display: inline-block;
    margin-bottom: 40px;

    &_size_s {
      max-width: 270px;
    }
  }
}
